<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS TEMPLATE</title>
</head>
<body>

    <h1>EJS TEMPLATE</h1>

    <ul>
        <!-- SYNTAXYS EJS -->
        <% personas.forEach( function (persona) { %>
            <li><%= persona.name %></li>
        <% }) %>


    </ul>
    
</body>
</html>